.box-input {
  margin-top: 36px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 32px;
}
.inpute {
  border-radius: 4px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  height: 40px;
  padding: 0px;
  padding-left: 16px;
}

.inpute:active {
  border: 1px solid #4e75ff;
}

.flatpickr-day.today {
  background: transparent!important;
  color:black!important;
}

.btn-click {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  background: #4e75ff;
}

.btn-click:hover {
  background: #6c8cff;
}

.btn-click:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
