:root {
  --font-family: 'Montserrat', sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
}

.input-box-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-dalay {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  height: 40px;
}


.fiel {
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 360px;
  margin-bottom: 24px;
  padding: 14px 0px 8px 0px;
}

.radio-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

.btn-apply {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  border: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-apply:hover{
  background: #6c8cff;
}
